.line-graph-container {
  width: 400px;
  height: 300px;
}

.container {
  text-align: center;
}

.chart-container {
  display: inline-block;
}

.data-analysis-container {
  margin-top: 20px;
  text-align: left;
}
