/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  padding: 0; 
} */





.student-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdowns-container {
  width: 25%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 37%;
}

.on-track-column,
.off-track-column {
  width: 100%;
  box-sizing: border-box; Include padding and border in element's total width and height
  max-width: 100%; /* Increase max-width as needed */
  margin: 0 auto; /* Center the columns */
}

.on-track-column {
  background-color: lightgreen;
  padding: 10px;
}

.off-track-column {
  background-color: lightcoral;
  padding: 10px;
}

.on-track-column h2,
.off-track-column h2 {
  margin-bottom: 10px;
}
