.student-list {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.dropdowns-container {
  width: 25%; /* Adjust width as needed */
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Add some space below dropdowns */
  margin-left: 37%;
}

.on-track-column,
.off-track-column {
  width: 100%; /* Full width for student columns */
}

.on-track-column {
  background-color: lightgreen; /* Light green background for on track students */
  padding: 10px;
}

.off-track-column {
  background-color: lightcoral; /* Light red background for off track students */
  padding: 10px;
}

.on-track-column h2,
.off-track-column h2 {
  margin-bottom: 10px;
}
